body {
    background-color: #333; 
    margin: 0;
    font: sans-serif;
    color: aliceblue;
}

header{
    width: 100%;
}

.header{
    width: 100%;
    background-color: #2c2b2b;
    justify-content: center;
    align-items: center;
    display: flex;
}

.mainHeader{
    justify-content: center;
    display: flex;
}

.rightHeader{
    position: absolute;
    right: 20px;
}

.leftHeader{
    position: absolute;
    left: 20px;
}

.callLink{
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
    transition: background-color .3s ease;
    border-radius: 15px;
}

.callLink:hover{
    background: #474646;
    padding: 10px;
    border: 15px;
}

.siteName{
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.rightH{
    font-size: 20px;
    white-space: nowrap;
}

.homeLink{
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
    transition: background-color .3s ease;
    border-radius: 15px;
}

.homeLink:hover{
    background-color: #474646;
    padding: 10px;
    border-radius: 15px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    font-size: 50px;
}

.description{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

.topDisc{
    width: 100%;
    background-color: #333;
}

.topDiscContent{
    margin-left: 300px;
    margin-right: 300px;
    font-size: 25px;
    max-width: 900px;
    line-height: 58px;
}

.closingDisc{
    margin-left: 50px;
    font-size: 17px;
    margin-right: 100px;
    padding-top: 200px;
    color: #827f7f;
}

.list{
    list-style: none;
    font-size: 25px;
    margin: 20px auto;
    text-align: left;
    max-width: 700px;
}

.listEl{
    margin: 20px 0; 
}

.listEl::before{
    content: "*   ";
    font-weight: bold;
}

