body {
    background-color: #333; 
    margin: 0;
    font: sans-serif;
    color: aliceblue;
}

header{
    width: 100%;
}



.header{
    width: 100%;
    background-color: #2c2b2b;
    justify-content: center;
    align-items: center;
    display: flex;
}

.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.mainHeader{
    justify-content: center;
    display: flex;
}

.rightHeader{
    position: absolute;
    right: 20px;
}

.homeLink{
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
    transition: background-color .3s ease;
    border-radius: 15px;
}

.homeLink:hover{
    background-color: #474646;
    padding: 10px;
    border-radius: 15px;
}

.siteName{
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.rightH{
    font-size: 20px;
    white-space: nowrap;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    font-size: 50px;
}